/* //src/components/RightSidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap');
@import url("../constants.css");



.right-sidebar {
    padding-right: 5px;
    width: 250px;
    min-width: 150px;
    max-width: 500px;
    background-color: var(--light-grey);
    /* color: white; */
    overflow: auto;
    position: relative;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Align children in a column */
    font-family: 'Cascadia Code', monospace;
    color: var(--text-color);
    font-size: 13px;
  }

  .hover-mouse-coordinate {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  /* Pushes the content to the bottom of the container */
    height: 100%;  /* Ensure the container takes up the full height */
  }
  
  .coord-table {
    display: grid;
    grid-template-columns: auto auto auto auto; /* 4 equal columns */
    grid-gap: 5px; /* Space between the cells */
  }
  
  .coord-row {
    display: contents; /* Keeps the row structure but doesn't add extra wrapping */
  }
  
  .coord-label,
  .coord-value {
    text-align: left; /* Left-align text in both label and value */
    padding-left: 5px; /* Space between text and left edge */
  }
  
  .coord-value {
    text-align: left;
  }

  /* SELECTED OBJEct*/
  .selected-object-container {
    padding: 10px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--representing-null-color);
    padding: 10px;
    border-radius: 8px;
  }
  
  .selected-object-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .selected-object-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid var(--separator-color)
  }
  
  .table-header {
    background-color: var(--table-top-label-background-color);
    color: var(--text-color);
    font-weight: bold;
    padding: 5px;
    text-align: left;
  }

.table-row td, .table-row-alt td {
    padding: 3px; /* Add padding to table cells instead of rows */
}
  
  .table-row {
    background-color: var(--table-background-color1);
  }
  
  .table-row-alt {
    background-color: var(--table-background-color2);
  }
